@model DetailsRecipeViewModel;

@using static RecipeBook.Common.ClaimsPrincipalExtensions;
@inject IChefService ChefService;
@inject IRecipeService RecipeService;

@{
    ViewBag.Title = "Details page";

    bool isChef = await ChefService.ChefExistsByUserIdAsync(User.GetGuidId());

    bool isChefRecipeOwner = false;

    if (isChef)
    {
        Guid chefId = await ChefService.GetChefIdByUserIdAsync(User.GetGuidId());
        isChefRecipeOwner = await RecipeService.IsChefWithIdOwnerOfRecipeWithIdAsync(chefId, Model.Id);
    }

    bool isSaved = await RecipeService.IsRecipeSavedAsync(User.GetGuidId(), Model.Id);
}

<h2 class="text-center">Recipe Details</h2>
<hr />

<div class="card">
    <div class="card-body text-center">
        <img src="@Model.ImageUrl" alt="Recipe Image" height="300px" width="400px">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text"><span class="fw-bold">Category:</span> @Model.Category</p>
    </div>
    <div class="card-body">
        <p class="card-text"><span class="fw-bold">Servings:</span> @Model.Servings</p>
        <p class="card-text"><span class="fw-bold">Time:</span> @Model.CookingTime minutes</p>
        <p class="card-text fw-bold">Product List:</p>
        <p class="card-text" style="white-space: pre-line">@Model.Products</p>
        <p class="card-text fw-bold">Steps:</p>
        <p class="card-text" style="white-space: pre-line">@Model.Steps</p>
        <p class="card-text"><span class="fw-bold">Chef: </span><a asp-area="" asp-route-id="@Model.ChefId" asp-controller="Chef" asp-action="All" src="">@Model.Chef</a></p>
        <div class="text-center">
            @if (isChef && isChefRecipeOwner || User.IsAdmin())
            {
                <a asp-area="" asp-controller="Recipe" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-orange">Edit</a>
            }

            @if (!isSaved)
            {
                <form class="btn" asp-area="" asp-controller="Recipe" asp-action="Save" asp-route-id="@Model.Id">
                    <input type="submit" value="Save Recipe" class="btn btn-orange" />
                </form>
            }
            else
            {
                <form class="btn" asp-area="" asp-controller="Recipe" asp-action="Unsave" asp-route-id="@Model.Id">
                    <input type="submit" value="Unsave Recipe" class="btn btn-orange" />
                </form>
            }

            @if (isChef && isChefRecipeOwner || User.IsAdmin())
            {
                <a asp-area="" asp-controller="Recipe" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-orange">Delete</a>
            }
        </div>
    </div>
</div>
